/* light theme */
:root, [data-theme="light"] {
  --bg-base:    #f9fafb;
  --bg-topbar:  #ffffff;
  --bg-sidebar: #f2f3f5;
  --bg-hover:   rgba(0,0,0,0.05);
  --bg-active:  rgba(0,100,220,0.1);
  --bg-input:   #ffffff;
  --bg-call:    #f2f3f5;

  --text-primary:   #060607;
  --text-secondary: #a2a7bb;
  --text-muted:     #80848e;

  --border:  #e3e5e8;
  --accent:  #0068d6;

  --color-success: #248046;
  --color-danger:  #da373c;
}
